
.Education h1{
    text-align: center;
    padding: 20px;
}
.Eduction-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Edu-item{
    padding: 1rem;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px gray;
}

.Edu-item img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.Edu-item:hover{
    transform:rotate(360deg);
    transition: 2s  ease-in-out;

 }

 .title{
   font-size: 1.5rem;
   font-weight: 600;
   font-family: 'Poppins';
   padding: 10px 0px;
 }
 .percentage{
    font-size: 1.3rem;
 }

 .institute{
    font-size: 1rem;
 }
 span{
    padding-bottom: 0.5em;
 }
 @media screen and (max-width:486px) {
    .Eduction-container{
        margin: 0px 5px;
        flex-wrap: wrap;
    }
    .Edu-item{
        height: 230px;
        width: 230px;
        margin-bottom: 30px;
    }
    .Edu-item img{
        height: 100px;
        width: 100px;
    }
 }